
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dogs from Pets</h2>

<img src="https://www.guidedogs.org/wp-content/uploads/2018/01/Mobile.jpg" alt="Dog" width="800" height="800">

