@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We love pets!</p>
<img src="https://www.parasites.today/wp-content/uploads/2015/10/catanddog.jpg" width="800" hight="600" margin="20" alt="We love Pets!">
